# Copia este archivo como .env.local y completa los valores

DATABASE_URL="postgresql://postgres:TU_PASSWORD_AQUI@db.fnzrrszfezostkufuwmu.supabase.co:5432/postgres?sslmode=require"
NEXTAUTH_SECRET="financy-dev-secret-2024"
NEXTAUTH_URL="http://localhost:3000"
OPENROUTER_API_KEY=""
